#header {
    text-align: center;
    font-size: 50px;
    font-family: 'Bungee Shade', cursive;
}
#nameform {
    text-align: center;
}
#create {
    text-align: center;
}
h3, h2, h1, a, div {
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0px;
}

#submitter {
    margin-top: 24px;

}

#room_name {
	 display: inline-block;
}
#cap {
	 display: inline-block;
}

#room_name, #names, #cap, #players {
    text-align:center;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 0px;
}
