<!DOCTYPE html>
<head>
  <title>blod</title>
  <script src="/socket.io/socket.io.js"></script>
  <script src="client.js"></script>
  <script src="nunjucks.js"></script>
  
<head>
<body>
  lod the bod
  <br>
  <form action="/reg" method="get">
    <strong>name: </strong>
    <br>
    <input type="text" name="name">
    <br>
    <strong>room: </strong>
    <br>
    <input type="text" name="room">
    <br>
    <input type="submit" value="enter room"> 
  </form>


</body>

